<ion-header class="ion-no-border">
  <div class="heading">
    <h3>Logo</h3>
    <ion-buttons slot='end'>
      <ion-button (click)="toProfile()"><img src="../../../assets/imgs/app_icons/person.png" alt=""></ion-button>
      <ion-button (click)="logout()"><img src="../../../assets/imgs/app_icons/logout.png" alt=""></ion-button>
    </ion-buttons>
  </div>

  <div class="filters">
    <section>My Tasks</section>
    <ion-segment [scrollable]="true" [value]="filterStatus">
      @for (status of statuses; track $index) {
      <ion-segment-button (click)="filterByStatus(status)" [value]="status" [title]="status">
        {{status}}<ion-ripple-effect></ion-ripple-effect>
      </ion-segment-button>
      }
    </ion-segment>
  </div>
</ion-header>




<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content refreshingSpinner="dots">
    </ion-refresher-content>
  </ion-refresher>


  <div class="container">




    @if (tasks && !isLoading && !empty) {
    <div class="tasks-holder">

      @for (task of tasks; track $index) {

      <div class="task" (click)="toDetails(task)">
        <img [src]="task.image!='path.png'?imagesApi+task.image: alternateImg" alt="No Image">

        <div class="task-data">

          <div>
            <p>{{task.title}}</p>
            <span [title]="task.status">{{task.status}}</span>
          </div>

          <p>{{task.desc}}</p>

          <div>
            <div [title]="task.priority">
              <ion-icon name="flag-outline" color="primary"></ion-icon>
              <p>{{task.priority}}</p>
            </div>

            <p>{{task.updatedAt | date:'dd/MM/yyyy'}}</p>
          </div>

        </div>

        <ion-icon name="ellipsis-vertical" color="dark"></ion-icon>
      </div>

      }

    </div>
    }

    @if(isLoading){
    <div class="loading">
      <img src="../../../assets/imgs/transparent_loading.gif" alt="">
      <h3 class="load">Loading</h3>
    </div>
    }

    @if(empty ||tasks?.length==0){
    <div class="empty">
      <img src="../../../assets/imgs/transparent_loading.gif" alt="">
      <h3>No Tasks To View</h3>
    </div>
    }

    @if(isError){
    <div class="error">
      <h3>An Error Has Occured Do Check Your Enternet Connection And Retry Again </h3>
    </div>
    }

  </div>
  <ion-buttons>
    <button color="primary">
      <img src="../../../assets/imgs/app_icons/qr_small.png">
      <ion-ripple-effect></ion-ripple-effect>
    </button>
    <ion-fab-button (click)="addTask()" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-buttons>




</ion-content>