<ion-content>

  <div class="container">


    <div class="heading">
      <h3>Logo</h3>
      <ion-buttons slot='end'>
        <ion-button><img src="../../../assets/imgs/app_icons/person.png" alt=""></ion-button>
        <ion-button><img src="../../../assets/imgs/app_icons/logout.png" alt=""></ion-button>
      </ion-buttons>
    </div>

    <div class="filters">
      <section>My Tasks</section>
      <div class="spans">
        @for (status of statuses; track $index) {
        <span [ngClass]="status==='all'?'active '+ status : status">{{status}}</span>
        }
      </div>
    </div>


    <div class="tasks-holder">

      @for (i of [1,2,3,4]; track $index) {

      <div class="task">
        <img [src]="tasks[0].image" alt="No Image">

        <div class="task-data">

          <div>
            <p>{{tasks[0].title}}</p>
            <span [title]="tasks[0].status">{{tasks[0].status}}</span>
          </div>

          <p>{{tasks[0].desc}}</p>

          <div>
            <div [title]="tasks[0].priority">
              <ion-icon name="flag-outline" color="primary"></ion-icon>
              <p>{{tasks[0].priority}}</p>
            </div>

            <p>{{tasks[0].updatedAt | date:'dd/MM/yyyy'}}</p>
          </div>

        </div>

        <ion-icon name="ellipsis-vertical" color="dark"></ion-icon>
      </div>

      }

    </div>




  </div>

</ion-content>
