@import "../../../theme/variables.scss";
@import "../../../theme/mixins.scss";
@import "../../../global.scss";

.heading {
  align-items: center;
  justify-content: space-between;

  ion-buttons {
    ion-button>img {
      @include shape(24px, 24px)
    }
  }
}

.filters {

  section {
    color: $paragraphColor;
    margin: 16px 0;
  }

  ion-segment {
    gap: 8px;
    display: flex;
    justify-content: space-around;

    ion-segment-button {
      border-radius: 2 * $mainBorderRadius;
      background-color: $secondColor;
      color: $ipColor;
      text-transform: capitalize;
      min-height: 36px !important;
      font-weight: 400;
      display: flex;
      flex-flow: row;
      justify-content: center;

      &[title='all'] {
        width: 44px;
      }

      &[title='waiting'] {
        width: 81px;
      }

      &[title='finished'] {
        width: 88px;
      }

      &[title='inprogress'] {
        width: 98px;
      }
    }

    ion-segment-button.segment-button-checked {
      background-color: $mainColor;
      color: white;
      --indicator-color: transparent !important; // removes the under line
      --indicator-color-checked: transparent !important;
    }
  }
}

.tasks-holder {
  padding-top: 16px;
  display: flex;
  flex-flow: column nowrap;

  .task {
    display: flex;
    gap: 12px;
    padding: 12px 0;
    align-items: center;
    justify-content: space-between;
    height: 96px;

    img {
      @include shape(64px, 64px);
      border-radius: 50%;
    }


    .task-data {
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      @include shape(219px, 72px);

      >div {
        height: 24px;
        display: flex;
        justify-content: space-between;
      }

      >div:first-of-type {
        height: 22px;

        p {
          font-size: 16px;
          line-height: 24px;
          font-weight: 700;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        // Statuses
        span {
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
          padding: 2px 6px;
          border-radius: 5px;
        }

        span[title='waiting'] {
          background-color: $waitingBG ;
          color: $waitingColor;
        }

        span[title='finished'] {
          background-color: $finishedBG ;
          color: $finishedColor;
        }

        span[title='inprogress'] {
          background-color: $inprogressBG;
          color: $inprogressColor
        }
      }

      >p {
        height: 24px;
        font-size: 14px;
        line-height: 24px;
        white-space: nowrap;
        color: $paragraphColor;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      >div:last-of-type {
        height: 18px;

        p {
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          color:#{$paragraphColor};
          text-transform: capitalize;
        }

        >div {
          display: flex;
          gap: 4px;

          ion-icon {
            @include shape(16px, 16px);
          }

          // priorities
          &[title='low'] {
            p {
              color: #{$finishedColor};
            }

            ion-icon {
              --ion-color-primary: #{$finishedColor};
            }
          }

          &[title='medium'] {
            p {
              color: #{$inprogressColor};
            }

            ion-icon {
              --ion-color-primary: #{$inprogressColor};
            }
          }

          &[title='high'] {
            p {
              color: #{$waitingColor};
            }

            ion-icon {
              --ion-color-primary: #{$waitingColor};
            }
          }
        }
      }
    }

    ion-icon {
      align-self: flex-start;
      @include shape(24px, 24px);
    }
  }
}

.loading,
.empty,
.error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;

  h3 {
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    width: 100%;
    color: #{$mainColor};
    letter-spacing: 5px;
    position: fixed;
    text-align: center;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
  }

  h3.load::after {
    content: "";
    display: inline;
    padding-left: 5px;
    letter-spacing: 2px;
    animation: dots 3s ease-in-out infinite forwards;
  }
}


@keyframes dots {
  0% {
    content: '';
    color: #000;
  }

  25% {
    content: '.';
    color: #000555;
  }

  50% {
    content: '..';
    color: blue;
  }

  75% {
    content: '...';
    color: dodgerblue;
  }

  100% {
    content: '....';
    color: skyblue;
  }
}

ion-header {
  padding: 22px 22px 10px;
}

ion-content {

  .container {
    padding-top: 0;
  }

  >ion-buttons {
    position: fixed;
    bottom: 20px;
    right: 22px;
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 15px;

    >button {
      background-color: rgba(235, 229, 255, 1);
      border-radius: 50%;
      @include shape(50px, 50px);
      position: relative;
      overflow: hidden;
    }

    >ion-fab-button {
      --ion-color-primary: #{$mainColor};
      @include shape(64px, 64px);
    }
  }
}