<ion-content>

  <div class="container">

    <div class="heading">
      <ion-buttons>
        <ion-button (click)="back()">
          <img src="../../../assets/imgs/app_icons/Arrow - back.png" alt="">
        </ion-button>
      </ion-buttons>
      <h3>Task Details</h3>
      <ion-icon (click)="this.showEdits=!this.showEdits" name="ellipsis-vertical" slot="end" color="dark"></ion-icon>

      @if (showEdits) {
      <div class="edits">
        <button (click)="toEdits()" class="ion-activatable"> Edit <ion-ripple-effect></ion-ripple-effect></button>
        <button (click)="shareTask()" class="ion-activatable">Share <ion-ripple-effect></ion-ripple-effect></button>
        <button (click)="null" class="ion-activatable">Print <ion-ripple-effect></ion-ripple-effect></button>
        <button (click)="deleteTask()" class="ion-activatable">Delete <ion-ripple-effect></ion-ripple-effect></button>
      </div>
      }

    </div>

    <div class="task-img"><img [lazyLoad]="task.image" [defaultImage]="alternativeImg" alt=""></div>

    <div class="txts">

      <h3>{{task?.title}}</h3>

      <p>{{task?.desc}}
      </p>

    </div>

    <div class="data">

      <div>
        <div>
          <span>End Date</span>
          <p>{{(task?.createdAt|date:'dd MMMM , yyyy') ||"30 June, 2022"}}</p>
        </div>
        <img src="../../../assets/imgs/app_icons/calendar.png" alt="">
      </div>


      <div>
        <p>{{task?.status}}</p>
        <img src="../../../assets/imgs/app_icons/Arrow - Down 4.png" alt="">
      </div>


      <div>
        <ion-icon name="flag-outline" color="primary"></ion-icon>
        <p>{{task?.priority}} priority</p>
        <img src="../../../assets/imgs/app_icons/Arrow - Down 4.png" alt="">
      </div>
    </div>


    <img src="../../../assets/imgs/QC.png" alt="">




  </div>

</ion-content>