<ion-content>





  <div class="container details" #content>
    <ion-popover trigger="editBtns" alignment="center" side="bottom" #editsPopOver mode="ios">
      <ng-template>
        <ion-list>
          <ion-item color="light">
            <button (click)="toEdits()" class="ion-activatable"> Edit
              <ion-ripple-effect></ion-ripple-effect></button>
          </ion-item>

          <ion-item lines="none" color="light">
            <button (click)="deleteTask()" class="ion-activatable">Delete
              <ion-ripple-effect></ion-ripple-effect></button>
          </ion-item>

          <!-- <ion-item>
            <button (click)="shareTask()" class="ion-activatable">Share <ion-ripple-effect></ion-ripple-effect></button>
          </ion-item> -->

          <!-- <ion-item>
            <button (click)="printTask()" class="ion-activatable">Print <ion-ripple-effect></ion-ripple-effect></button>
          </ion-item> -->

        </ion-list>
      </ng-template>
    </ion-popover>

    <div class="heading">
      <ion-buttons>
        <ion-button (click)="back()">
          <img [src]='backArrow' alt="">
        </ion-button>
      </ion-buttons>
      <h3>Task Details</h3>
      <ion-icon id="editBtns" (click)="toggleEdits($event)" name="ellipsis-vertical" slot="end" color="dark"></ion-icon>

    </div>

    <div class="task-img"><img [src]="task.image!='path.png'?imagesApi+task.image: alternativeImg" alt=""></div>

    <div class="txts">

      <h3>{{task?.title}}</h3>

      <p #taskDesc>{{task?.desc}}</p>

    </div>

    <div class="data">

      <div>
        <div>
          <span>End Date</span>
          <p>{{(task?.createdAt|date:'dd MMMM , yyyy') ||"30 June, 2022"}}</p>
        </div>
        <img [src]="calenderImg" alt="">
      </div>


      <div>
        <p>{{task?.status}}</p>
        <img [src]="downArrow" alt="">
      </div>


      <div>
        <ion-icon name="flag-outline" color="primary"></ion-icon>
        <p>{{task?.priority}} priority</p>
        <img [src]="downArrow" alt="">
      </div>
    </div>


    <!-- <img src="../../../assets/imgs/QC.png" alt=""> -->

    <qrcode [qrdata]="getQrCodeData()" [width]="375" [title]="'From Abdelmoniem'" [elementType]="'img'"
      [errorCorrectionLevel]="'M'">
    </qrcode>




  </div>

</ion-content>