@import "../../../theme/mixins.scss";
@import "../../../global.scss";

.heading {
  position: relative;

  ion-icon {
    display: block;
    margin-left: auto;
  }

  .edits {
    position: absolute;
    top: 85%;
    left: 77.5%;
    width: 88px;
    right: 0;
    display: flex;
    flex-flow: column;
    border-radius: 12px;
    padding: 8px 16px;
    --ion-color-light: white;
    background: var(--ion-color-light);
    box-shadow: 0px 0px 5px 0px gray;

    &::before {
      content: "";
      display: block;
      width: 0;
      border-width: 10px;
      border-color: transparent transparent var(--ion-color-light) transparent;
      border-style: solid;
      position: absolute;
      top: -11%;
      right: 8%;
      z-index: 5050;
    }

    >button {
      position: relative;
      overflow: hidden;
      background: transparent;
      padding: 12px 0;
      width: 50px;
      text-align: start;
    }

    >button:last-child {
      color: #{$waitingColor};
    }

    >button:not(:last-of-type) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    }

  }
}

.task-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container>div>img {
  border-radius: #{$mainBorderRadius};
}

.txts {

  display: flex;
  flex-flow: column;
  gap: 8px;
  margin-bottom: 16px;

  h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin: 0;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    color: #{$paragraphColor};
  }
}

.data {
  display: flex;
  flex-flow: column;
  gap: 8px;

  >div {
    background-color: #{$secondColor};
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 20px 10px 20px 24px;
    border-radius: #{$mainBorderRadius};
    height: 50px;

    >p {
      color: #{$mainColor};
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
    }
  }

  >div:first-of-type {
    >div {
      display: flex;
      flex-flow: column;
      gap: 4px;
      justify-content: center;

      span {
        font-size: 9px;
        color: #{$txtColor};
      }

      p {
        font-size: 14px;
        line-height: 24px;
      }
    }

  }

  >div:last-of-type {
    p {
      margin-right: auto;
    }

    ion-icon {
      --ion-color-primary:#{$mainColor};
      @include shape(24px, 24px);
    }

  }
}

qrcode {
  display: flex;
  justify-content: center;

}

