<ion-content>

  <div class="container">


    <div class="heading">
      <ion-buttons>
        <ion-button (click)="back()"><img src="../../../assets/imgs/app_icons/Arrow - back.png" alt=""></ion-button>
      </ion-buttons>
      <h3>Edit task</h3>
    </div>


    <div class="add-img ion-activitable">
      @if(image){
      <img style="width: 100%;" [lazyLoad]="image" [defaultImage]="alternativeImg" alt="">
      <ion-icon (click)="updateImg()" name="create-outline" color='primary' slot="end"></ion-icon>
      }@else {
      <div (click)="updateImg()">
        <img src="../../../assets/imgs/app_icons/add_img.png" alt="add-new-image">
        <p>Add Img</p>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      }
    </div>

    <form [formGroup]="editForm">

      <ion-label>Task title</ion-label>
      <ion-input formControlName="title" placeholder="Enter title here..."></ion-input>

      <ion-label>Enter Description</ion-label>
      <ion-textarea formControlName="desc" placeholder="Enter description here..."></ion-textarea>

      <ion-label>Priority</ion-label>
      <ion-select formControlName="priority" interface="action-sheet" toggleIcon="">

        <ion-icon name="flag-outline" slot="start" aria-hidden="true"></ion-icon>
        @for (priority of priorities; track $index) {
        <ion-select-option [value]="priority">{{priority}} Priority</ion-select-option>
        }

      </ion-select>

      <ion-label>Status</ion-label>
      <ion-select formControlName="status" interface="action-sheet" toggleIcon="">

        <ion-icon name="flag-outline" slot="start" aria-hidden="true"></ion-icon>
        @for (status of statuses; track $index) {
        <ion-select-option [value]="status">{{status}}</ion-select-option>
        }

      </ion-select>

      <ion-label>Due date</ion-label>
      <div (click)="pickDate($event)" class="input date" id="dueDatePicker">
        <p>{{(editForm.get('dueDate').value|date:'dd/MM/yyyy')||"choose due date..."}}</p>
        <ion-popover #dueDatePicker trigger='dueDatePicker' size="auto" side="bottom" alignment="center" mode="ios">
          <ng-template>
            <ion-datetime formControlName="dueDate" [(ngModel)]="taskDueDate" showDefaultButtons="true"
              doneText="Set Date" cancelText="Never mind" color="success">
            </ion-datetime>
          </ng-template>
        </ion-popover>
        <img src="../../../assets/imgs/app_icons/calendar.png" alt="Due date">
      </div>

    </form>

    <button (click)="updateTask()" class="ion-activatable auth" [disabled]="editForm.invalid">
      <p>Update task</p>
      <ion-ripple-effect></ion-ripple-effect>
    </button>

  </div>

</ion-content>