@import "../../../theme/mixins.scss";
@import "../../../global.scss";


.add-img {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #{$mainColor};
  gap: 8px;
  border: 1px dotted #{$mainColor};
  border-radius: #{$mainBorderRadius};
  margin: 24px 0 16px;
  position: relative;
  overflow: hidden;

  >div {
    display: flex;
    padding: 10px;
    gap: 8px;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  >p {
    padding: 12px 0;
  }

  ion-icon {
    position: absolute;
    font-size: 35px;
    box-shadow: inset 7px -7px 10px 0px white;
    bottom: 5%;
    right: 5%;
    border-radius: 5px;
  }
}

form {
  display: block;
  flex-flow: column;
  gap: 16px;

  input,
  ion-input,
  ion-select,
  .input {
    margin-top: 8px;
  }

  .date {
    display: flex;
    color: #{$txtColor};
    justify-content: space-between;

    input {
      display: none;
    }
  }

  ion-select {
    display: flex;
    justify-content: space-between;
    background-color:#{ $secondColor};
    color: #{$mainColor};
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    position: relative;

    &::after {
      content: '';
      background-image: url('../../../assets/imgs/app_icons/Arrow\ -\ Down\ 4.png');
      @include shape(24px, 24px);
    }

    ion-icon {
      margin-right: 10px;
      @include shape(24px, 24px);
    }

  }
}

button.auth {
  font-size: 16px;
  margin-bottom: 24px;

  &:disabled {
    opacity: 0.6;
  }
}
