<div class="heading skeleton">
  <h3> <ion-skeleton-text animated="true"></ion-skeleton-text></h3>
  <div>
    <p>
      <ion-skeleton-text animated="true"></ion-skeleton-text>
    </p>
    <p>
      <ion-skeleton-text animated="true"></ion-skeleton-text>
    </p>
  </div>
</div>

<section><ion-skeleton-text animated="true"></ion-skeleton-text></section>

<div class="search skeleton">
  <span class="skeleton"><ion-skeleton-text animated="true"></ion-skeleton-text></span>
  <span class="skeleton"><ion-skeleton-text animated="true"></ion-skeleton-text></span>
  <span class="skeleton"><ion-skeleton-text animated="true"></ion-skeleton-text></span>
  <span class="skeleton"><ion-skeleton-text animated="true"></ion-skeleton-text></span>
</div>

<div class="tasks skeleton">
  @for (i of [1,2,3,4]; track $index) {
  <div>
    <ion-avatar>
      <ion-skeleton-text animated="true"></ion-skeleton-text>
    </ion-avatar>
    <div>
      <div>
        <h3><ion-skeleton-text animated="true"></ion-skeleton-text></h3>
        <span><ion-skeleton-text animated="true"></ion-skeleton-text></span>
      </div>

      <p><ion-skeleton-text animated="true"></ion-skeleton-text></p>

      <div>
        <p>
          <ion-skeleton-text animated="true"></ion-skeleton-text>
        </p>
        <span><ion-skeleton-text animated="true"></ion-skeleton-text></span>
      </div>
    </div>

    <div class="dots">
      <span><ion-skeleton-text animated="true"></ion-skeleton-text></span>
    </div>
  </div>
  }
</div>