@import "../../../theme/mixins.scss";
@import "../../../global.scss";





.container>img {
  max-width: 120%;
  margin-left: -22px;
}



button.auth {
  font-size: 16px;
  margin-bottom: 24px;

  &:disabled {
    opacity: 0.6;
  }
}

ion-select {
  &::part(icon) {
    @include shape(24px, 24px)
  }
}


ion-input {

  ion-icon {
    --ion-color-primary:#{$ipColor};
  }

}
