<ion-content [fullscreen]="true">
  <div class="container">

    <img src="../../../assets/imgs/app_img.svg" alt="">

    <h3>Login</h3>



    <form>

      <ion-input placeholder="Name..."></ion-input>

      <div class="input">
        <div class="country">
          <img src="https://flagsapi.com/{{country.countryCode.toUpperCase()}}/flat/64.png" alt="">
          <span> +{{country.countryCallingCode}}</span>
          <ion-icon color="primary" name="chevron-down-outline"></ion-icon>
        </div>
        <ion-input class="inner-input" type="text" placeholder="123 456-7890">
        </ion-input>
      </div>



      <ion-input placeholder="Years of experience..."></ion-input>

      <ion-select label="Choose experience Level" interface="action-sheet" moed='ios' toggleIcon="chevron-down">
        <ion-select-option value="junior">Junior</ion-select-option>
        <ion-select-option value="senior">Senior</ion-select-option>
      </ion-select>


      <ion-input placeholder="Address..."></ion-input>

      <ion-input [type]="displayPassword?'text':'password'" placeholder="Password...">

        <ion-icon slot='end' color="primary" (click)="displayPassword=!displayPassword"
          [name]="!displayPassword?'eye-outline':'eye-off-outline'"></ion-icon>
      </ion-input>

    </form>


    <button class="ion-activatable auth">
      <p>Sign up</p>
      <ion-ripple-effect></ion-ripple-effect>
    </button>

    <footer>
      <p>Didn’t have any account? <span>Sign Up here</span></p>
    </footer>
  </div>
</ion-content>