// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

@import "./theme/mixins.scss";

$mainColor: rgba(95, 51, 225, 1);
$secondColor: rgba(240, 236, 255, 1);
$txtColor: rgba(110, 106, 124, 1);
$mainBorderRadius: 12px;
$mainBorderColor: rgba(186, 186, 186, 1);
$ipColor: rgba(127, 127, 127, 1);
$paragraphColor: rgba(36, 37, 44, 0.6);

$waitingColor: rgba(255, 125, 83, 1);
$waitingBG: rgba(255, 228, 242, 1);
$finishedColor: rgba(0, 135, 255, 1);
$finishedBG: rgba(227, 242, 255, 1);
$inprogressColor: $mainColor;
$inprogressBG: $secondColor;

$profileTxt: rgba(47, 47, 47, 0.4);
$profileHeading: rgba(47, 47, 47, 0.6);
$profileBg: rgba(245, 245, 245);

body.dark {

  $mainColor: var(--ion-color-light);

  .heading {

    img {
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 5px;
    }
  }
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans';
}

html {
  scroll-behavior: smooth;
}

.container {

  width: 100%;
  padding: 22px 22px 30px;

  >h3 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 24px;
    line-height: 100%;
  }

}




.heading {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  padding: 12px 0;
  height: 56px;

  img {
    @include shape(16px, 16px)
  }
}

button.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
  font-size: 19px;
  font-weight: 700;
  padding: 12px;
  width: 100%;
  height: 50px;
  border-radius: 12px;
  background-color: $mainColor;
  color: var(--ion-color-light);

  // for ion-ripple-effect
  position: relative;
  overflow: hidden;

  >p {
    letter-spacing: 1px;
  }

  >img {
    @include shape(24px, 24px)
  }
}

.input,
ion-input:not(.inner-input),
ion-select, ion-textarea,
form>input {
  border: 1px solid $mainBorderColor;
  border-radius: $mainBorderRadius;
  height: 50px;
  gap: 12px;
  padding: 0 15px !important;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

ion-textarea,
textarea {
  height: 170px;
}

span.invalid {
  font-size: 10px;
  width: 100%;
  display: block;
  color: orange;
  text-shadow: 1px 1px 1px steelblue;
  text-align: center;
  line-height: 20px;
  letter-spacing: 1.5px;
}

.show-loading {
  z-index: 500;
  position: fixed;
  transform: translateY(-50%);
  top: 50%;
  background: linear-gradient(-90deg, #0000007a, transparent, #0000007a, transparent, #0000007a);
  display: block;
  box-shadow: 0px 0px 100px 200px #0000007a;
}


.input {

  >.country {
    width: 83px;
    display: flex;
    gap: 8px;
    align-items: center;

    >img {
      @include shape(24px, 24px);
      border-radius: 8px;
    }

    span {
      color: $ipColor;
      font-size: 14px;
      font-weight: 700;
    }


    ion-icon {
      @include shape(24px, 24px);
      --ion-color-primary:#{$ipColor};
    }
  }

  ion-input {
    width: 201px;
  }
}

footer {
  text-align: center;

  p {
    color: $txtColor;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;

    span {
      color: $mainColor;
      font-weight: 600;
      text-decoration: underline;
    }
  }
}

form {

  ion-label {
    color: #{$txtColor};
    font-size: 12px;
    line-height: 18px;
  }
}



ion-toast {
  --ion-color-success: #f0ecff;
}