@import '../../../global.scss';
@import '../../../theme/mixins.scss';


img {
  max-width: 120%;
  margin-left: -22px;
}

.container>div {
  display: flex;
  flex-flow: column;
  gap: 16px;
  align-items: center;

  >h3 {
    font-size: 24px;
    font-weight: 700;
    width: 235px;
    text-align: center;
  }

  >div {
    width: 400px;
    text-align: center;

    p {
      font-size: 14px;
      line-height: 24px;
      color: rgba(110, 106, 124, 1);
    }
  }
}

