<ion-content>

  <div class="container">
    <img src="../../../assets/imgs/app_img.svg" alt="">
    <div>
      <h3>Task Management & To-Do List</h3>
      <div>
        <p>This productive tool is designed to help</p>
        <p>you better manage your task</p>
        <p>project-wise conveniently!</p>
      </div>
    </div>

    <button class="ion-activatable auth">
      <p>Let’s Start</p>
      <img src="../../../assets//imgs/app_icons/Arrow - Left.png" alt="">
      <ion-ripple-effect></ion-ripple-effect>
    </button>
  </div>

</ion-content>